In [0]:
# Download yellow taxi data 
def download_and_load_yellow_tripdata(year, month):
 
   import os
   import requests
   from pyspark.sql import SparkSession
   
   
   # Format month with leading zero if needed
   month_str = str(month).zfill(2)
   file_name = f"yellow_tripdata_{year}-{month_str}.parquet"
   url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/{file_name}"
   
   # Define paths
   local_path = f"/tmp/{file_name}"
   dbfs_path = f"/FileStore/tables/{file_name}"
   
   # Download file if it doesn't exist locally . Download to local path as copy to dbfs was not working
   if os.path.exists(local_path):
       print(f"File {local_path} already exists. Skipping download.")
   else:
       print(f"Downloading {file_name}...")
       try:
           response = requests.get(url)
           if response.status_code == 200:
               with open(local_path, "wb") as f:
                   f.write(response.content)
               print(f"Download complete to {local_path}")
           else:
               print(f"Error: Unexpected status code {response.status_code}")
               return None
       except requests.exceptions.RequestException as e:
           print(f"An error occurred: {e}")
           return None
   
   # Copy file to DBFS
   dbutils.fs.cp(f"file:{local_path}", f"dbfs:{dbfs_path}")
   print(f"File copied to DBFS at {dbfs_path}")
   
   # Verify file exists in DBFS
   files = dbutils.fs.ls(f"/FileStore/tables/")
   file_exists = any(f.name == file_name for f in files)
   print(f"File verification in DBFS: {'Success' if file_exists else 'Failed'}")
   
   # Load the data from DBFS
   if file_exists:
       raw_df = spark.read.parquet(f"/FileStore/tables/{file_name}")
       print(f"Data loaded successfully. Row count: {raw_df.count()}")
       raw_df.printSchema()
       raw_df.show(5)
   else:
       print("ERROR: File not found in DBFS, cannot load data")
       return None
   
   print(f"Number of rows loaded to raw_df is: {raw_df.count()}")
   return raw_df

In [0]:
# Check and remove duplicate rows 

from pyspark.sql.functions import count
from pyspark.sql.window import Window

def process_duplicates(raw_df):
    
  
    # Count original records
    original_count = raw_df.count()
    print(f"Original record count before deduplication: {original_count}")
    
    # Count distinct records
    distinct_df = raw_df.dropDuplicates()
    distinct_count = distinct_df.count()
    print(f"Distinct record count after dedupliation: {distinct_count}")
    
    # Calculate duplicate count
    duplicate_count = original_count - distinct_count
    
      
    # Check if duplicates exist and handle accordingly
    if duplicate_count > 0:
        print(f"Duplicates found: {duplicate_count}")
        
        # Store duplicates in a separate dataframe
        window_spec = Window.partitionBy(*raw_df.columns)
        raw_df_with_count = raw_df.withColumn("occurrence_count", count().over(window_spec))
        raw_df_duplicates = raw_df_with_count.filter("occurrence_count > 1").drop("occurrence_count")
        
        # Use the distinct dataframe (duplicates removed)
        raw_dedup_df = distinct_df
        
        print(f"QUALITY REPORT: Number of duplicates removed: {duplicate_count}")
    else:
        print("No duplicates found")
        
        # No duplicate Keep original dataframe as is
        raw_dedup_df = raw_df
        raw_df_duplicates = None
                      
        print("QUALITY REPORT: No duplicates found")
    
    return raw_dedup_df, raw_df_duplicates

In [0]:

# Drop rows with NULL on selected columns 

from pyspark.sql.functions import col

def drop_null_rows(df):
    
    columns_to_check =  ["trip_distance","total_amount"]
    # Store the original row count
    original_count = df.count()
    
    # Create a dictionary to track how many nulls were found in each column
    null_counts = {}
    
    # Get counts of nulls for each column
    for column in columns_to_check:
        null_count = df.filter(col(column).isNull()).count()
        null_counts[column] = null_count
    
    # Drop rows with nulls in any of the specified columns
    clean_no_null_df = df
    for column in columns_to_check:
        clean_no_null_df = clean_no_null_df.filter(col(column).isNotNull())
    
    # Calculate the total rows removed
    final_count = clean_no_null_df.count()
    rows_removed = original_count - final_count
    
    print(f"Original row count: {original_count}")
    print(f"Final row count: {final_count}")
    print(f"Total rows removed: {rows_removed}")
    print("Null counts by column:")
    
    for column, count in null_counts.items():
        print(f"  - {column}: {count} rows")
    
    return clean_no_null_df

In [0]:
def convert_negative_to_positive_amounts(df):
    """
    Convert negative amounts to positive values for specified currency columns.
   
    """
   
    from pyspark.sql import functions as F
    
    # Hardcoded list of currency columns to fix
    columns_to_fix = [
        "fare_amount",
        "tip_amount",
        "tolls_amount",
        "extra",
        "mta_tax",
        "improvement_surcharge",
        "congestion_surcharge",
        "Airport_fee",
        "total_amount"
    ]
   
    # Original row count for reporting
    original_count = df.count()
   
    # Count negative values before conversion
    negative_counts = {}
    for col_name in columns_to_fix:
        try:
            neg_count = df.filter(F.col(col_name) < 0).count()
            negative_counts[col_name] = neg_count
        except:
            # Handle column not found
            negative_counts[col_name] = "Column not found"
   
    # Use Absolute value to convert negative to positive
    df_positive = df.select(
        *[F.abs(F.col(c)).alias(c) if c in columns_to_fix else F.col(c) for c in df.columns]
    )
   
    # Print summary information
    print("Negative currency values found (before conversion):")
    for col, count in negative_counts.items():
        print(f"  - {col}: {count}")
   
    print(f"\nTotal rows processed: {original_count}")
    print(f"All specified currency amounts converted to positive values.")
   
    return df_positive

In [0]:
# drop unwanted columns if needed , code not written as of now

In [0]:
# Enrich data with some derived columns 

from pyspark.sql.functions import hour, to_date, date_format, when, col, round, unix_timestamp

def enhance_taxi_data(df):
   
   # Track the original row count
   original_count = df.count()
   
   # Apply all enhancements as a chain
   enhanced_df = (df
       # Pickup hour extracted from the tpep_pickup_datetime
       .withColumn(
           "pickup_hour",
           hour("tpep_pickup_datetime")
       )
       # Pickup date extracted from the tpep_pickup_datetime
       .withColumn(  
           "pickup_date",
           to_date("tpep_pickup_datetime")
       )
       # Pickup day of week extracted from the tpep_pickup_datetime
       .withColumn(  
           "pickup_day_of_week",
           date_format("tpep_pickup_datetime", "EEEE")
       )
       # Price per mile extracted from the trip_distance and fare_amount when not zero
       .withColumn(  
           "price_per_mile",
           when(col("trip_distance") > 0, round(col("fare_amount") / col("trip_distance"), 2)).otherwise(0)
       )
       # Trip duration in minutes calculated from pickup and dropoff timestamps
       .withColumn(
           "trip_duration_minutes",
           round((unix_timestamp("tpep_dropoff_datetime") - unix_timestamp("tpep_pickup_datetime")) / 60, 2)
       )
   )
   
   # Verify row count remains unchanged
   final_count = enhanced_df.count()
   
   # Display summary information
   print(f"Data enhancement complete:")
   print(f"- Original columns: {len(df.columns)}")
   print(f"- Enhanced columns: {len(enhanced_df.columns)}")
   print(f"- New columns added: {len(enhanced_df.columns) - len(df.columns)}")
   print(f"- Row count: {final_count} (unchanged from original: {original_count})")
   
   return enhanced_df

In [0]:
# : Create dimensional model that can be generated from original data set 

def create_dimensional_model(df):
    """
    Create a dimensional model from the cleaned data
    """
    print("Creating dimensional model...")
    from pyspark.sql import functions as sf
    # Dimension: Time
    dim_time = df.select(
        "tpep_pickup_datetime",
        "pickup_hour",
        "pickup_date",
        "pickup_day_of_week"
    ).distinct()
    
    
    # Nor creating a location dimension as https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv already has location_id and related details 

        
    # Fact Table: Trips
    fact_trips = df.select(
        sf.monotonically_increasing_id().alias("trip_id"),
        "VendorID",
        "tpep_pickup_datetime",
        "tpep_dropoff_datetime",
        "PULocationID",
        "DOLocationID",
        "passenger_count",
        "payment_type",
        "RateCodeID",
        "trip_distance",
        "fare_amount",
        "tip_amount",
        "total_amount",
        "trip_duration_minutes",
        "price_per_mile"
    )
    
    # Display table counts
    print(f"Time dimension count: {dim_time.count()}")
    print(f"Fact table count: {fact_trips.count()}")
    dim_time.printSchema()
    fact_trips.printSchema()
    return {
        "dim_time": dim_time,
        "fact_trips": fact_trips
    }

In [0]:
# Save tables to Delta format in Databricks
def save_to_delta(tables_dict, base_path="/FileStore/tables/nyc_taxi"):
    """
    Save the dimensional model tables to Delta format
    """
    print(f"Saving tables to Delta format at {base_path}...")
    spark.sql(f"CREATE DATABASE IF NOT EXISTS nyc_db")
    print(f"Database nyc_db created or already exists")
    
    for table_name, df in tables_dict.items():
        table_path = f"{base_path}/{table_name}"
        print(f"Saving table {table_name} to {table_path}")
        df.printSchema()
        # Save as Delta table with Schema change adaption
        df.write.format("delta").option("overwriteSchema", "true").mode("overwrite").save(table_path)
        print(f"Saved {table_name} to Delta format")

        # Create temp view for SQL queries
        df.createOrReplaceTempView(table_name)
        # Register the table in the metastore
        spark.sql(f"CREATE TABLE IF NOT EXISTS nyc_db.{table_name} USING DELTA LOCATION '{table_path}'")
        print(f"Table nyc_db.{table_name} registered in metastore")
        
        
    
    print("All tables saved to Delta format successfully")

In [0]:
# create additional dimension not from main raw data 

def create_payment_type_dimension():
    
    from pyspark.sql.types import StructType, StructField, IntegerType, StringType
    
    # Create a DataFrame with payment type mappings
    payment_types_data = [
        (1, "Credit card"),
        (2, "Cash"),
        (3, "No charge"),
        (4, "Dispute"),
        (5, "Unknown"),
        (6, "Voided trip")
    ]
    
    schema = StructType([
        StructField("payment_type", IntegerType(), False),
        StructField("payment_type_desc", StringType(), False)
    ])
    dim_payment_type = spark.createDataFrame(payment_types_data, schema)
    delta_location = "dbfs:/FileStore/tables/dim_payment_type"
    dim_payment_type.write.format("delta").mode("overwrite").save(delta_location)

    spark.sql(f"CREATE TABLE IF NOT EXISTS nyc_db.dim_payment_type USING DELTA LOCATION '{delta_location}'")
    print(f"Table nyc_db.dim_payment_type registered in metastore")
    print("Sample data:")
    dim_payment_type.show(5)
    
    
    return dim_payment_type
    
    
def create_rate_code_dimension():
    
    from pyspark.sql.types import StructType, StructField, IntegerType, StringType
    
    # Create a DataFrame with rate code mappings
    rate_codes_data = [
        (1, "Standard rate"),
        (2, "JFK"),
        (3, "Newark"),
        (4, "Nassau or Westchester"),
        (5, "Negotiated fare"),
        (6, "Group ride"),
        (99, "Unknown")
    ]
    
    schema = StructType([
        StructField("RateCodeID", IntegerType(), False),
        StructField("rate_code_desc", StringType(), False)
    ])
    
    dim_rate_code=spark.createDataFrame(rate_codes_data, schema)
    delta_location = "dbfs:/FileStore/tables/dim_rate_code"
    dim_rate_code.write.format("delta").mode("overwrite").save(delta_location)

    spark.sql(f"CREATE TABLE IF NOT EXISTS nyc_db.dim_rate_code USING DELTA LOCATION '{delta_location}'")
    print(f"Table nyc_db.dim_rate_code registered in metastore")
    print("Sample data:")
    dim_rate_code.show(5)
    return dim_rate_code

In [0]:
# Dimension that needs to be downloaded 

import requests
def load_taxi_zone_dimension():    
    url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"
    local_path = "/tmp/taxi_zone_lookup.csv"

    print(f"Downloading taxi zone lookup from {url}...")
    response = requests.get(url)
    with open(local_path, "wb") as f:
        f.write(response.content)

    # Load to DBFS
    dbfs_path = "/FileStore/tables/taxi_zone_lookup.csv"
    dbutils.fs.cp(f"file:{local_path}", f"dbfs:{dbfs_path}")

    # Read the CSV into a DataFrame
    dim_taxi_zone = spark.read.option("header", "true").csv(dbfs_path)

    # Rename columns to match some naming convention 
    dim_taxi_zone = dim_taxi_zone.withColumnRenamed("LocationID", "location_id") \
                        .withColumnRenamed("Borough", "borough") \
                        .withColumnRenamed("Zone", "zone") \
                        .withColumnRenamed("service_zone", "service_zone")

    print(f"Loaded taxi zone dimension with {dim_taxi_zone.count()} rows")
    delta_location = "dbfs:/FileStore/tables/dim_taxi_zone_delta"
    dim_taxi_zone.write.format("delta").mode("overwrite").save(delta_location)

    spark.sql(f"CREATE TABLE IF NOT EXISTS nyc_db.dim_taxi_zone USING DELTA LOCATION '{delta_location}'")
    print(f"Table nyc_db.dim_taxi_zone registered in metastore")
    print("Sample data:")
    dim_taxi_zone.show(5)

    return dim_taxi_zone

In [0]:
# Summary of data quality after all transformations so far 

def perform_data_quality_check(raw_df, clean_df, tables_dict):
  
    print("\n---  DATA QUALITY ANALYSIS ---\n")
    
    # Calculate counts and percentages
    initial_count = raw_df.count()
    final_count = clean_df.count()
    retention_pct = (final_count / initial_count) * 100
    
    print(f"Initial row count: {initial_count}")
    print(f"Final row count after cleaning: {final_count}")
    print(f"Data retention: {retention_pct:.2f}%")
    # Generate warning if data quality issues exist
    if retention_pct < 85:
        print("\nWARNING: Significant data loss during cleaning (retention < 85%). Further investigation needed.")
    

    # Return a summary dictionary for reporting
    return {
        "initial_count": initial_count,
        "final_count": final_count,
        "retention_pct": retention_pct
        
    }

In [0]:
def create_zone_analytics_report():
    
    print("\n--- ZONE ANALYTICS REPORT ---\n")
    


    
    # Query 1: Top pickup boroughs by trip count
    print("Top pickup boroughs by trip count:")
    
    pickup_borough_query = """
        SELECT
            tz.borough as pickup_borough,
            COUNT(*) as trip_count,
            ROUND(AVG(f.total_amount), 2) as avg_fare,
            ROUND(SUM(f.total_amount), 2) as total_revenue
        FROM nyc_db.fact_trips f
        LEFT JOIN nyc_db.dim_taxi_zone tz ON f.PULocationID = tz.location_id
        WHERE tz.borough IS NOT NULL
        GROUP BY tz.borough
        ORDER BY trip_count DESC
    """
    spark.sql(pickup_borough_query).show()
    
    # Query 2: Top routes (zone pairs) by revenue
    print("Top 10 routes (zone pairs) by revenue:")
    
    top_routes_query = """
        SELECT
            pz.zone as pickup_zone,
            dz.zone as dropoff_zone,
            COUNT(*) as trip_count,
            ROUND(AVG(f.trip_distance), 2) as avg_distance,
            ROUND(AVG(f.trip_duration_minutes), 2) as avg_duration,
            ROUND(SUM(f.total_amount), 2) as total_revenue
        FROM nyc_db.fact_trips f
        LEFT JOIN nyc_db.dim_taxi_zone pz ON f.PULocationID = pz.location_id
        LEFT JOIN nyc_db.dim_taxi_zone dz ON f.DOLocationID = dz.location_id
        WHERE pz.zone IS NOT NULL AND dz.zone IS NOT NULL
        GROUP BY pz.zone, dz.zone
        ORDER BY total_revenue DESC
        LIMIT 10
    """
    spark.sql(top_routes_query).show()
    
    # Query 3: Average trip metrics by payment type
    print("Average trip metrics by payment type:")
    
    payment_metrics_query = """
        SELECT
            pt.payment_type_desc,
            COUNT(*) as trip_count,
            ROUND(AVG(f.trip_distance), 2) as avg_distance,
            ROUND(AVG(f.fare_amount), 2) as avg_fare,
            ROUND(AVG(f.tip_amount), 2) as avg_tip,
            ROUND(AVG(f.tip_amount / CASE WHEN f.fare_amount > 0 THEN f.fare_amount ELSE NULL END) * 100, 2) as tip_percentage
        FROM nyc_db.fact_trips f
        LEFT JOIN nyc_db.dim_taxi_zone pz ON f.PULocationID = pz.location_id
        LEFT JOIN nyc_db.dim_taxi_zone dz ON f.DOLocationID = dz.location_id
        LEFT JOIN nyc_db.dim_payment_type pt ON f.payment_type = pt.payment_type
        GROUP BY pt.payment_type_desc
        ORDER BY trip_count DESC
    """
    spark.sql(payment_metrics_query).show()
    
    # Query 4: Trip metrics by rate code
    print("Trip metrics by rate code:")
    
    rate_code_metrics_query = """
        SELECT
            rc.rate_code_desc,
            COUNT(*) as trip_count,
            ROUND(AVG(f.trip_distance), 2) as avg_distance,
            ROUND(AVG(f.trip_duration_minutes), 2) as avg_duration,
            ROUND(AVG(f.price_per_mile), 2) as avg_price_per_mile,
            ROUND(SUM(f.total_amount), 2) as total_revenue
        FROM nyc_db.fact_trips f
        LEFT JOIN nyc_db.dim_taxi_zone pz ON f.PULocationID = pz.location_id
        LEFT JOIN nyc_db.dim_taxi_zone dz ON f.DOLocationID = dz.location_id
        LEFT JOIN nyc_db.dim_rate_code rc ON f.RateCodeID = rc.RateCodeID
        GROUP BY rc.rate_code_desc
        ORDER BY trip_count DESC
    """
    spark.sql(rate_code_metrics_query).show()

In [0]:
def run_analytical_queries():
    
    print("\n--- ANALYTICS RESULTS ---\n")
    
    # Initialize results dictionary
    results = {}
    
    # Query 1: What are the busiest hours for taxi trips?
    print("Query 1: Busiest hours for taxi trips")
    busiest_hours = spark.sql("""
        SELECT 
            pickup_hour,
            COUNT(*) as trip_count
        FROM nyc_db.fact_trips f
        JOIN nyc_db.dim_time t ON f.tpep_pickup_datetime = t.tpep_pickup_datetime
        GROUP BY pickup_hour
        ORDER BY trip_count DESC
    """)
    busiest_hours.show(24)
    results["busiest_hours"] = busiest_hours
    
    # Query 2: Payment type analysis
    print("Payment type distribution analysis:")
    payment_analysis = spark.sql("""
        SELECT 
            pt.payment_type,pt.payment_type_desc,
            COUNT(*) as trip_count,
            ROUND(AVG(f.fare_amount), 2) as avg_fare,
            ROUND(AVG(f.tip_amount), 2) as avg_tip,
            ROUND(SUM(f.total_amount), 2) as total_revenue
        FROM nyc_db.fact_trips f
        JOIN nyc_db.dim_payment_type pt ON f.payment_type = pt.payment_type
        GROUP BY pt.payment_type,pt.payment_type_desc
        ORDER BY trip_count DESC
    """)
    payment_analysis.show()
    results["payment_analysis"] = payment_analysis
    
    # Query 3: Rate code analysis
    print("Rate code distribution analysis:")
    rate_code_analysis = spark.sql("""
        SELECT 
            rc.rate_code_desc,
            COUNT(*) as trip_count,
            ROUND(AVG(f.trip_distance), 2) as avg_distance,
            ROUND(AVG(f.total_amount), 2) as avg_fare,
            ROUND(SUM(f.total_amount), 2) as total_revenue
        FROM nyc_db.fact_trips f
        JOIN nyc_db.dim_rate_code rc ON f.RateCodeID = rc.RateCodeID
        GROUP BY rc.rate_code_desc
        ORDER BY trip_count DESC
    """)
    rate_code_analysis.show()
    results["rate_code_analysis"] = rate_code_analysis
    
    # Query 4: Cross-dimension analysis: Payment method by rate code
    print("Payment method by rate code:")
    cross_analysis = spark.sql("""
        SELECT 
            rc.rate_code_desc,
            pt.payment_type_desc,
            COUNT(*) as count
        FROM nyc_db.fact_trips f
        JOIN nyc_db.dim_payment_type pt ON f.payment_type = pt.payment_type
        JOIN nyc_db.dim_rate_code rc ON f.RateCodeID = rc.RateCodeID
        GROUP BY rc.rate_code_desc, pt.payment_type_desc
        ORDER BY rc.rate_code_desc, count DESC
    """)
    cross_analysis.show()
    results["cross_analysis"] = cross_analysis
    
    return results

In [0]:
def analyze_location_patterns():
    """
    Analyze trip patterns using the location dimension
    """
    print("\n--- LOCATION PATTERN ANALYSIS ---\n")
    

    
    # Query 1: Most popular pickup locations
    print("Top 10 most popular pickup locations:")
    popular_pickups = spark.sql("""
        SELECT 
            l.location_id,
            COUNT(*) as pickup_count,borough,zone,service_zone,
            AVG(f.trip_distance) as avg_distance,
            AVG(f.fare_amount) as avg_fare,
            SUM(f.total_amount) as total_revenue
        FROM nyc_db.fact_trips f
        JOIN nyc_db.dim_taxi_zone l ON f.PULocationID = l.location_id
        GROUP BY l.location_id,borough,zone,service_zone
        ORDER BY pickup_count DESC
        LIMIT 10
    """)
    popular_pickups.show()
    
    # Query 2: Most popular dropoff locations
    print("Top 10 most popular dropoff locations:")
    popular_dropoffs = spark.sql("""
        SELECT 
            l.location_id,borough,zone,service_zone,
            COUNT(*) as dropoff_count,
            AVG(f.trip_distance) as avg_distance,
            AVG(f.fare_amount) as avg_fare,
            SUM(f.total_amount) as total_revenue
        FROM nyc_db.fact_trips f
        JOIN nyc_db.dim_taxi_zone l ON f.DOLocationID = l.location_id
        GROUP BY l.location_id,borough,zone,service_zone
        ORDER BY dropoff_count DESC
        LIMIT 10
    """)
    popular_dropoffs.show()
    
    # Query 3: Top location pairs (routes)
    print("Top 10 most popular routes:")
    popular_routes = spark.sql("""
        SELECT 
            f.PULocationID as pickup_id,
            f.DOLocationID as dropoff_id,
            COUNT(*) as trip_count,
            AVG(f.trip_distance) as avg_distance,
            AVG(f.trip_duration_minutes) as avg_duration,
            SUM(f.total_amount) as total_revenue
        FROM nyc_db.fact_trips f
        GROUP BY f.PULocationID, f.DOLocationID
        ORDER BY trip_count DESC
        LIMIT 10
    """)
    popular_routes.show()
    
    
    return {
        "popular_pickups": popular_pickups,
        "popular_dropoffs": popular_dropoffs,
        "popular_routes": popular_routes
        
    }

In [0]:
def process_nyc_taxi_data(year, month):
    """
    End to End pipeline calling
    """
    print("Downloading uellow taxi data for Year {year} and Month {month}")
    raw_df= download_and_load_yellow_tripdata(year,month)

    print("Checking and removing duplicates ")     
    clean_df, raw_df_duplicates = process_duplicates(raw_df)
    
    print("Checking and removing nulls ")
    clean_no_null_df=drop_null_rows(clean_df)

    print("Converting negative amount to positive for currency columns")
    nonull_df_positive_amount = convert_negative_to_positive_amounts(clean_no_null_df)

    print("enriching the data frame")
    enhanced_df= enhance_taxi_data(nonull_df_positive_amount)
   
    print("Creating the dimensional tables from the downloaded and enhanced data")
    tables = create_dimensional_model(enhanced_df)
   
    print("Saving tables to Delta")
    save_to_delta(tables)
    
    print("Creating the additinal dimensional tables from lookup data")
    dim_payment_type = create_payment_type_dimension()
    dim_rate_code = create_rate_code_dimension()
    dim_taxi_zone = load_taxi_zone_dimension()
    
    # Add these to the tables dictionary
    tables["dim_payment_type"] = dim_payment_type
    tables["dim_rate_code"] = dim_rate_code
    tables["dim_taxi_zone"] = dim_taxi_zone
    
    # Perform data quality checks
    quality_report = perform_data_quality_check(raw_df, enhanced_df, tables)
    print("General analytical reports ")
    analysis_results = run_analytical_queries()
    
    # Print some reports     
    print("Zone related nalytical reports ")
    zone_analysis = create_zone_analytics_report()

    #print some pickup loation related rports 

    location_analysis=analyze_location_patterns()
    # Save tables to Delta format
    save_to_delta(tables, base_path="/FileStore/tables/nyc_taxi")

    # Verify the tables at the end
    verify_saved_tables()
    
    print("\nData processing complete.")
    return {
        "tables": tables,
        "quality_report": quality_report,
        "zone_analysis": zone_analysis
    }

In [0]:
def verify_saved_tables(limit=5):
    
    print("\n--- VERIFYING SAVED TABLES ---\n")
    
    # List of tables to verify
    tables_to_verify = [
        "dim_time", 
        "dim_taxi_zone", 
        "dim_payment_type",
        "dim_rate_code",
        "fact_trips" 
 
    ]
    
    # Set the database context
    spark.sql("USE nyc_db")
    
    # Check each table
    for table_name in tables_to_verify:
        try:
            print(f"\nSample data from {table_name}:")
            result = spark.sql(f"SELECT * FROM {table_name} LIMIT {limit}")
            result.show(truncate=False)
            row_count = spark.sql(f"SELECT COUNT(*) AS row_count FROM {table_name}").collect()[0][0]
            print(f"Total rows in {table_name}: {row_count:,}")
        except Exception as e:
            print(f"Error accessing table {table_name}: {str(e)}")
    

    
    print("\nTable verification complete.")

In [0]:
# call main function parameter year YYYY , Month M or MM
# Example process_nyc_taxi_data(2024,1)
# Example process_nyc_taxi_data(2024,12)
process_nyc_taxi_data(2021,8)

Downloading uellow taxi data for Year {year} and Month {month}
File /tmp/yellow_tripdata_2021-08.parquet already exists. Skipping download.
File copied to DBFS at /FileStore/tables/yellow_tripdata_2021-08.parquet
File verification in DBFS: Success
Data loaded successfully. Row count: 2788757
root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2021-08-01 00:04:06|  2021-08-01 00:26:07|            2.0|         3.52|       1.0|                 N|          43|          42|           1|       16.5|  0.5|    0.5|      5.08|         0.0|                  0.3|       25.38|                 2.5|        0.0|
|       1| 2021-08-01 00:34:14|  2021-08-01 00:43:02|            0.0|          2.1|       1.0|                 N|          79|         233|           2|        9.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        12.8|                 2.5|        0.0|
|       1| 2021-08-01 00:43:53|  2021-08-01 00:55:04|            0.0|          1.4|       1.0|                 N|         170|          90|           1|        8.5|  3.0|    0.5|      3.05|         0.0|                  0.3|       15.35|                 2.5|        0.0|
|       1| 2021-08-01 00:53:19|  2021-08-01 00:55:34|            1.0|          0.4|       1.0|                 N|         229|         229|           1|        4.0|  3.0|    0.5|      1.17|         0.0|                  0.3|        8.97|                 2.5|        0.0|
|       1| 2021-08-01 00:58:54|  2021-08-01 01:11:23|            1.0|          2.9|       1.0|                 N|         233|         249|           1|       12.0|  3.0|    0.5|       2.0|         0.0|                  0.3|        17.8|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

Number of rows loaded to raw_df is: 2788757
Checking and removing duplicates
Original record count before deduplication: 2788757
Distinct record count after dedupliation: 2788757
No duplicates found
QUALITY REPORT: No duplicates found
Checking and removing nulls
Original row count: 2788757
Final row count: 2788757
Total rows removed: 0
Null counts by column:
  - trip_distance: 0 rows
  - total_amount: 0 rows
Converting negative amount to positive for currency columns
Negative currency values found (before conversion):
  - fare_amount: 12725
  - tip_amount: 396
  - tolls_amount: 366
  - extra: 5600
  - mta_tax: 12572
  - improvement_surcharge: 12857
  - congestion_surcharge: 10103
  - Airport_fee: 1074
  - total_amount: 12903

Total rows processed: 2788757
All specified currency amounts converted to positive values.
enriching the data frame
Data enhancement complete:
- Original columns: 19
- Enhanced columns: 24
- New columns added: 5
- Row count: 2788757 (unchanged from original: 2788757)
Creating the dimensional tables from the downloaded and enhanced data
Creating dimensional model...
Time dimension count: 1539011
Fact table count: 2788757
root
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- pickup_date: date (nullable = true)
 |-- pickup_day_of_week: string (nullable = true)

root
 |-- trip_id: long (nullable = false)
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- RateCodeID: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- trip_duration_minutes: double (nullable = true)
 |-- price_per_mile: double (nullable = true)

Saving tables to Delta
Saving tables to Delta format at /FileStore/tables/nyc_taxi...
Database nyc_db created or already exists
Saving table dim_time to /FileStore/tables/nyc_taxi/dim_time
root
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- pickup_date: date (nullable = true)
 |-- pickup_day_of_week: string (nullable = true)

Saved dim_time to Delta format
Table nyc_db.dim_time registered in metastore
Saving table fact_trips to /FileStore/tables/nyc_taxi/fact_trips
root
 |-- trip_id: long (nullable = false)
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- RateCodeID: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- trip_duration_minutes: double (nullable = true)
 |-- price_per_mile: double (nullable = true)

Saved fact_trips to Delta format
Table nyc_db.fact_trips registered in metastore
All tables saved to Delta format successfully
Creating the additinal dimensional tables from lookup data
Table nyc_db.dim_payment_type registered in metastore
Sample data:
+------------+-----------------+
|payment_type|payment_type_desc|
+------------+-----------------+
|           1|      Credit card|
|           2|             Cash|
|           3|        No charge|
|           4|          Dispute|
|           5|          Unknown|
+------------+-----------------+
only showing top 5 rows

Table nyc_db.dim_rate_code registered in metastore
Sample data:
+----------+--------------------+
|RateCodeID|      rate_code_desc|
+----------+--------------------+
|         1|       Standard rate|
|         2|                 JFK|
|         3|              Newark|
|         4|Nassau or Westche...|
|         5|     Negotiated fare|
+----------+--------------------+
only showing top 5 rows

Downloading taxi zone lookup from https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv...
Loaded taxi zone dimension with 265 rows
Table nyc_db.dim_taxi_zone registered in metastore
Sample data:
+-----------+-------------+--------------------+------------+
|location_id|      borough|                zone|service_zone|
+-----------+-------------+--------------------+------------+
|          1|          EWR|      Newark Airport|         EWR|
|          2|       Queens|         Jamaica Bay|   Boro Zone|
|          3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|          4|    Manhattan|       Alphabet City| Yellow Zone|
|          5|Staten Island|       Arden Heights|   Boro Zone|
+-----------+-------------+--------------------+------------+
only showing top 5 rows


---  DATA QUALITY ANALYSIS ---

Initial row count: 2788757
Final row count after cleaning: 2788757
Data retention: 100.00%
General analytical reports

--- ANALYTICS RESULTS ---

Query 1: Busiest hours for taxi trips
+-----------+----------+
|pickup_hour|trip_count|
+-----------+----------+
|         18|    202403|
|         17|    195086|
|         15|    183926|
|         16|    180982|
|         19|    180799|
|         14|    180254|
|         13|    168014|
|         12|    163384|
|         20|    150213|
|         11|    145463|
|         21|    134152|
|         10|    133968|
|         22|    121223|
|          9|    119517|
|          8|    103964|
|         23|     96804|
|          7|     74401|
|          0|     72740|
|          1|     48401|
|          6|     44151|
|          2|     32965|
|          3|     22277|
|          5|     17760|
|          4|     15910|
+-----------+----------+

Payment type distribution analysis:
+------------+-----------------+----------+--------+-------+-------------+
|payment_type|payment_type_desc|trip_count|avg_fare|avg_tip|total_revenue|
+------------+-----------------+----------+--------+-------+-------------+
|           1|      Credit card|   2005222|   13.45|   3.14| 4.12952612E7|
|           2|             Cash|    623420|   13.23|    0.0|1.056652346E7|
|           3|        No charge|     13317|    11.6|   0.03|    199205.83|
|           4|          Dispute|     11208|   13.61|    0.1|    193844.37|
+------------+-----------------+----------+--------+-------+-------------+

Rate code distribution analysis:
+--------------------+----------+------------+--------+-------------+
|      rate_code_desc|trip_count|avg_distance|avg_fare|total_revenue|
+--------------------+----------+------------+--------+-------------+
|       Standard rate|   2551884|        2.82|   17.64|4.500659194E7|
|                 JFK|     76484|       17.38|   70.09|   5360635.48|
|     Negotiated fare|     14990|        5.83|   69.65|   1044058.51|
|              Newark|      5428|       16.49|   89.31|    484779.25|
|Nassau or Westche...|      4173|       20.95|   84.61|    353076.09|
|             Unknown|       192|        0.71|    22.1|      4242.24|
|          Group ride|        16|        1.86|   90.71|      1451.35|
+--------------------+----------+------------+--------+-------------+

Payment method by rate code:
+--------------------+-----------------+-----+
|      rate_code_desc|payment_type_desc|count|
+--------------------+-----------------+-----+
|          Group ride|        No charge|    6|
|          Group ride|      Credit card|    4|
|          Group ride|             Cash|    4|
|          Group ride|          Dispute|    2|
|                 JFK|      Credit card|60011|
|                 JFK|             Cash|15494|
|                 JFK|          Dispute|  490|
|                 JFK|        No charge|  489|
|Nassau or Westche...|      Credit card| 2577|
|Nassau or Westche...|             Cash| 1506|
|Nassau or Westche...|        No charge|   55|
|Nassau or Westche...|          Dispute|   35|
|     Negotiated fare|      Credit card|12232|
|     Negotiated fare|             Cash| 2033|
|     Negotiated fare|        No charge|  457|
|     Negotiated fare|          Dispute|  268|
|              Newark|      Credit card| 3957|
|              Newark|             Cash| 1251|
|              Newark|        No charge|  129|
|              Newark|          Dispute|   91|
+--------------------+-----------------+-----+
only showing top 20 rows

Zone related nalytical reports

--- ZONE ANALYTICS REPORT ---

Top pickup boroughs by trip count:
+--------------+----------+--------+-------------+
|pickup_borough|trip_count|avg_fare|total_revenue|
+--------------+----------+--------+-------------+
|     Manhattan|   2488499|   17.23|4.288300191E7|
|        Queens|    227168|   49.39|1.122070018E7|
|      Brooklyn|     30836|   31.67|    976575.91|
|       Unknown|     19631|   27.91|    547972.49|
|           N/A|     12963|   54.82|    710692.86|
|         Bronx|      9052|   38.07|    344600.23|
| Staten Island|       319|   89.99|     28707.61|
|           EWR|       289|   92.35|     26688.54|
+--------------+----------+--------+-------------+

Top 10 routes (zone pairs) by revenue:
+--------------------+--------------------+----------+------------+------------+-------------+
|         pickup_zone|        dropoff_zone|trip_count|avg_distance|avg_duration|total_revenue|
+--------------------+--------------------+----------+------------+------------+-------------+
|         JFK Airport|      Outside of NYC|      4897|       21.85|       44.06|    449741.21|
|         JFK Airport|Times Sq/Theatre ...|      2819|       18.33|       51.46|    199753.76|
|                 N/A|                 N/A|      9023|        2.59|       15.98|    197179.84|
|         JFK Airport|        Clinton East|      2522|       18.48|       48.93|    177935.84|
|Upper East Side S...|Upper East Side N...|     14613|        1.09|        7.55|    167904.86|
|Upper East Side N...|Upper East Side S...|     12684|        1.08|        8.33|    149298.96|
|      Outside of NYC|      Outside of NYC|      1395|        2.33|        3.42|    138926.75|
|         JFK Airport|         Murray Hill|      1805|       17.15|       40.86|    130628.89|
|   LaGuardia Airport|Times Sq/Theatre ...|      2622|       10.53|       34.88|    130523.95|
|   LaGuardia Airport|      Outside of NYC|      1295|       23.13|       52.56|    129826.46|
+--------------------+--------------------+----------+------------+------------+-------------+

Average trip metrics by payment type:
+-----------------+----------+------------+--------+-------+--------------+
|payment_type_desc|trip_count|avg_distance|avg_fare|avg_tip|tip_percentage|
+-----------------+----------+------------+--------+-------+--------------+
|      Credit card|   2005222|        3.33|   13.45|   3.14|         28.23|
|             Cash|    623420|        3.28|   13.23|    0.0|           0.0|
|             null|    135590|        92.9|   26.22|   2.64|         13.67|
|        No charge|     13317|        2.33|    11.6|   0.03|          0.67|
|          Dispute|     11208|        2.83|   13.61|    0.1|           0.7|
+-----------------+----------+------------+--------+-------+--------------+

Trip metrics by rate code:
+--------------------+----------+------------+------------+------------------+-------------+
|      rate_code_desc|trip_count|avg_distance|avg_duration|avg_price_per_mile|total_revenue|
+--------------------+----------+------------+------------+------------------+-------------+
|       Standard rate|   2551884|        2.82|       15.25|              5.53|4.500659194E7|
|                null|    135590|        92.9|       22.91|              8.25|   4484104.87|
|                 JFK|     76484|       17.38|       46.52|             50.93|   5360635.48|
|     Negotiated fare|     14990|        5.83|       15.57|            154.86|   1044058.51|
|              Newark|      5428|       16.49|       43.97|             29.52|    484779.25|
|Nassau or Westche...|      4173|       20.95|       41.15|              3.59|    353076.09|
|             Unknown|       192|        0.71|        13.3|               2.8|      4242.24|
|          Group ride|        16|        1.86|        0.69|              3.01|      1451.35|
+--------------------+----------+------------+------------+------------------+-------------+


--- LOCATION PATTERN ANALYSIS ---

Top 10 most popular pickup locations:
+-----------+------------+---------+--------------------+------------+------------------+------------------+------------------+
|location_id|pickup_count|  borough|                zone|service_zone|      avg_distance|          avg_fare|     total_revenue|
+-----------+------------+---------+--------------------+------------+------------------+------------------+------------------+
|        132|      122820|   Queens|         JFK Airport|    Airports|15.504930141671037| 45.22570688812891| 7092365.329991836|
|        237|      122484|Manhattan|Upper East Side S...| Yellow Zone| 1.939472747460889| 9.464941461741743|1841034.8600016513|
|        236|      103324|Manhattan|Upper East Side N...| Yellow Zone|3.7696347412024025| 10.10739315163924|1632357.9000012614|
|        186|      101790|Manhattan|Penn Station/Madi...| Yellow Zone|2.5252023774437857|11.575010610079396|1777391.5100014168|
|        161|       98048|Manhattan|      Midtown Center| Yellow Zone| 2.657767318048341|10.597329879242597| 1615645.530001257|
|        170|       92757|Manhattan|         Murray Hill| Yellow Zone| 4.080997013702488| 10.87540951087198| 1564395.890001081|
|        162|       88510|Manhattan|        Midtown East| Yellow Zone| 2.344710541181739|10.647700598802166|1470166.4600009813|
|        142|       81752|Manhattan| Lincoln Square East| Yellow Zone|2.6197518103532405|10.514663861434206|1334392.8000008136|
|         48|       81272|Manhattan|        Clinton East| Yellow Zone| 4.111700954818401|11.606714612658223|1421753.4200009555|
|         79|       80185|Manhattan|        East Village| Yellow Zone| 4.109879154455336|11.833613768160355|1441099.7600008103|
+-----------+------------+---------+--------------------+------------+------------------+------------------+------------------+

Top 10 most popular dropoff locations:
+-----------+---------+--------------------+------------+-------------+------------------+------------------+------------------+
|location_id|  borough|                zone|service_zone|dropoff_count|      avg_distance|          avg_fare|     total_revenue|
+-----------+---------+--------------------+------------+-------------+------------------+------------------+------------------+
|        237|Manhattan|Upper East Side S...| Yellow Zone|       107078| 2.800221707540311|  9.03255738807194|  1562110.91000127|
|        236|Manhattan|Upper East Side N...| Yellow Zone|       104992|3.2843561414202913| 9.805110008381313|1637514.0300012385|
|        161|Manhattan|      Midtown Center| Yellow Zone|        89487| 3.259135852134968| 9.718300535272858| 1371597.900000966|
|        170|Manhattan|         Murray Hill| Yellow Zone|        86808|  2.19248905630817|10.255475532208393| 1407892.000000908|
|        141|Manhattan|     Lenox Hill West| Yellow Zone|        77860| 7.613093115848989| 10.02543475468748|1240672.1100007147|
|         48|Manhattan|        Clinton East| Yellow Zone|        73585| 4.075079839641232|11.792051505061586|1325074.8900007962|
|        239|Manhattan|Upper West Side S...| Yellow Zone|        73108|7.1938541609672875|10.919684849810702| 1255409.510000625|
|        162|Manhattan|        Midtown East| Yellow Zone|        72206| 4.964890452316995|10.196276348225485|1164545.9600005976|
|        142|Manhattan| Lincoln Square East| Yellow Zone|        70754|3.3722289905870984|10.181669587584755|1140180.0500005535|
|        186|Manhattan|Penn Station/Madi...| Yellow Zone|        67852| 5.574734864116042|10.604221688380129| 1116302.580000573|
+-----------+---------+--------------------+------------+-------------+------------------+------------------+------------------+

Top 10 most popular routes:
+---------+----------+----------+------------------+------------------+------------------+